.venv
.vscode
hyperliquid/__pycache__/
metrics/__pycache__/
vault_details_cache.json
cache
cache_history
leaderboard.json
processed_addresses.txt
userdata_example.json
vaultdata_example.json
test.ipynb
